<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Chi tiết gói</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">

    </div>
  </div>
</div>

<div class="col py-3">

  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/service">Giao dịch</a></li>
          <li class="breadcrumb-item active">
            <%= data.name%>
          </li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">

    </div>
  </div>

</div>

<ul class="list-group">

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Tên gói</b></div>
      <div class="col">
        <%= data.name %>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Giá gói:</b></div>
      <div class="col">
        <%= data.price.toLocaleString('vi-VN') %> VNĐ
      </div>
    </div>
  </li>


  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Mô tả:</b></div>
      <div class="col">
        <%= data.description %>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Thời gian:</b></div>
      <div class="col">
        <%=data.time /2629743000%> Tháng
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Ngày tạo:</b></div>
      <div class="col">
        <%= data.createdAt.toLocaleString('en') %>
      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Ngày sửa:</b></div>
      <div class="col">
        <%= data.updatedAt.toLocaleString('en') %>
      </div>
    </div>
  </li>



</ul>